* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    overflow-x: hidden;
}


.navbar-brand {
    color: white;
    font-size: 2vw;
    font-family: 'WaltographRegular';
    font-weight: normal;
    font-style: normal;

}




.navbar {
    background-color: #DF8825;
    border: 1px solid black;
    position: fixed;
    width: 100%;
    z-index: 1;
}




.navbar-nav {
    display: flex;
    text-align: right;
}




.collapse {
    font-size: 1.2vw;
    padding-right: 0px;
    content: 0px;
    display: flex;
    justify-content: end;
}

.navbar-collapse {
    color: white;
    display: flex;
    justify-content: end;
    z-index: 1;
}


.dropdown-toggle,
.nav-link {
    color: white;
    font-family: 'Parisienne', cursive;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.8vw;
    margin-top: 8px;
}

.dropdown-menu {
    width: 300px;
    background-color: #DF8825;
    border: 1px solid white;
    border-radius: 3%;
    text-align: right;
}

.dropdown-item {
    color: white;
    font-family: 'Parisienne', cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5vw;
    padding-right: 10px;
    width: auto;
    letter-spacing: 1px;
}


.nav-link:hover,
.nav-link:focus {
    color: #955306;
}



.dropdown-item:hover {
    background-color: #BC6809;
    color: white;
}

p {
    color: white;
    font-size: 1.5em;
    font-family: 'Parisienne', cursive;
    font-weight: bold;
    padding-top: 25px;
}


.container-photo {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}


.photo-wedding {
    margin-top: 95px;
    opacity: 0.85;
    z-index: -1;
}




.main-text {
    font-size: 8vw;
    font-family: 'Parisienne', cursive;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.second-text {
    font-size: 3.5vw;
    font-family: 'Parisienne', cursive;
    justify-content: center;
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

}

.countdown {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    font-family: 'Parisienne', cursive;

}

h3 {
    font-size: 2.5vw;
    font-weight: bold;
}





.be-our-guest {
    width: 20vmin;
    height: 20vmin;

}

.guest {
    background-color: #DF8825;
    position: fixed;
    bottom: 5vh;
    right: 30px;
    border-radius: 30%;
    width: 20vmin;
    height: 20vmin;
}

.guest:hover {
    background-color: #955306;
    transform: scale(1.1)
}



/************* Ipad and smartphone ******************/

@media only screen and (min-device-width: 300px) and (max-device-width: 1000px) {

    .navbar-brand {
        font-size: 4vw;
    }

    .dropdown-toggle,
    .nav-link {
        font-size: 4vw;
    }

    .dropdown-item {
        font-size: 3vw;
    }



    .guest {
        position: fixed;
        top: 25%;
        right: 15px;
    }